body {
 padding-top: 60px;
 padding-bottom: 40px;
}
.sidebar-nav {
 padding: 9px 0;
}
.centered {
  text-align: center;
}
.question-thumb {
  height: 100px;
  width: 162px;
  margin: 0.5em;
}

.question-done {
	background: url("/img/done.png") no-repeat;
	background-position: 90% 90%;
}
.question-available {
	background: url("/img/available.png") no-repeat;
	background-position: 90% 0%;
}
.question-unavailable {
	background: url("/img/unavailable.png") no-repeat;
	background-position: 90% 90%;
}
.question-locked {
	background: url("/img/locked.png") no-repeat;
	background-position: 90% 90%;
}

.question-thumb:hover {
  background-color: #b03d37;
}

.clear {
	clear: both;
}

.question-number {
	margin-top: 25px;
	font-size: 72pt;
	color: #ffe7e7;
	font-weight: bold;
}

.question-status {
	position: relative;
	left: 0px;
	top: 0px;
}

.intro p {
  margin-bottom: 10px;
  max-width: 700px;
  font-size: 1.1em;
}

.legend {
  float: right;
}
