body {
 padding-top: 60px;
 padding-bottom: 40px;
}
.sidebar-nav {
 padding: 9px 0;
}
.centered {
  text-align: center;
}
.question-thumb {
  height: 100px;
  width: 162px;
  margin: 0.5em;
}

.question-thumb:hover {
  background-color: #b03d37;
}

.clear {
	clear: both;
}

.question-number {
	margin-top: 25px;
	font-size: 72pt;
	color: #ffe7e7;
	font-weight: bold;
}
