label for='title' Frågetext
input id='title' name="question[title]" value="#{@question.title}"

label for='question_text' Frågetext
textarea id='question_text' name="question[question_text]" = @question.question_text

label for='done_text' Svarstext
textarea id='done_text' name="question[done_text]" = @question.done_text

label for='answer' Svar
textarea id='answer' name="question[answer]" = @question.answer
