a href="/#{question.id}"
  - qs = QuestionStatus.new(question, @current_user)
  div.well.question-thumb.pull-left class="question-#{qs.status}" src="/img/#{qs.status}.png"
    h1.question-number= question.id
